[profile.default]
src = "src"
out = "out"
libs = ["lib"]
remappings = [
  "@openzeppelin/contracts-upgradeable/=lib/openzeppelin-contracts-upgradeable/contracts/",
  "@openzeppelin/contracts/=lib/openzeppelin-contracts/contracts/",
  "erc4626-tests/=lib/openzeppelin-contracts/lib/erc4626-tests/",
  "openzeppelin-foundry-upgrades/=lib/openzeppelin-foundry-upgrades/src/"
]
solc_version = "0.8.20"
optimizer = true
optimizer_runs = 10000
# NOTE: viaIR doesn't work with `forge coverage`
#viaIR = true
# NOTE: Below are required for OpenZeppelin Upgrades
ffi = true
ast = true
build_info = true
extra_output = ["storageLayout"]

[etherscan]
8453 = { key = "${BASESCAN_API_KEY}", url = "https://api.basescan.org/api" }
84532 = { key = "${BASESCAN_API_KEY}", url = "https://api.basescan.org/api" }

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
[fmt]
line_length = 100

gas_reports = ["*"]

[fuzz]
runs = 300
seed = "0x1"

[invariant]
runs = 64
depth = 32
fail_on_revert = true